WCF/Oktobar2021Client/Connected Services/SR/EmailService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9685/EmailService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Oktobar2021" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Oktobar2021" minOccurs="0" name="email" nillable="true" type="q1:Email" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Oktobar2021" minOccurs="0" name="email" nillable="true" type="q2:Email" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>