WCF/April2021Client/Connected Services/SR/RegistracijaVozila.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1218/RegistracijaVozila.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/April2021" />
  <xs:element name="Registracija">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/April2021" minOccurs="0" name="vl" nillable="true" type="q1:Vlasnik" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/April2021" minOccurs="0" name="voz" nillable="true" type="q2:Vozilo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistracijaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiVozila">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jmbg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiVozilaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/April2021" minOccurs="0" name="VratiVozilaResult" nillable="true" type="q3:ArrayOfVozilo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiVlasnikeModela">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiVlasnikeModelaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/April2021" minOccurs="0" name="VratiVlasnikeModelaResult" nillable="true" type="q4:ArrayOfVlasnik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiSvaVozila">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiSvaVozilaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/April2021" minOccurs="0" name="VratiSvaVozilaResult" nillable="true" type="q5:ArrayOfVozilo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>