WCF/Jun2019ClientForm/Connected Services/Evidencija/Evidencija.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Evidencija" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49982/Evidencija.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49982/Evidencija.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49982/Evidencija.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Jun2019" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEvidencija_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IEvidencija_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IEvidencija_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IEvidencija_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IEvidencija_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IEvidencija_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IEvidencija_GetDates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDates" />
  </wsdl:message>
  <wsdl:message name="IEvidencija_GetDates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDatesResponse" />
  </wsdl:message>
  <wsdl:portType name="IEvidencija">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvidencija/Register" message="tns:IEvidencija_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvidencija/RegisterResponse" message="tns:IEvidencija_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvidencija/Login" message="tns:IEvidencija_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvidencija/LoginResponse" message="tns:IEvidencija_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvidencija/Logout" message="tns:IEvidencija_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvidencija/LogoutResponse" message="tns:IEvidencija_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDates">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvidencija/GetDates" message="tns:IEvidencija_GetDates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvidencija/GetDatesResponse" message="tns:IEvidencija_GetDates_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEvidencija" type="tns:IEvidencija">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IEvidencija/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IEvidencija/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/IEvidencija/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDates">
      <soap:operation soapAction="http://tempuri.org/IEvidencija/GetDates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Evidencija">
    <wsdl:port name="BasicHttpBinding_IEvidencija" binding="tns:BasicHttpBinding_IEvidencija">
      <soap:address location="http://localhost:49982/Evidencija.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>