WCF/Jun2019ClientForm/Connected Services/Evidencija/Evidencija1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Jun2019" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Jun2019" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRadniDan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RadniDan" nillable="true" type="tns:RadniDan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRadniDan" nillable="true" type="tns:ArrayOfRadniDan" />
  <xs:complexType name="RadniDan">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="tns:Log" />
      <xs:element minOccurs="0" name="Logout" nillable="true" type="tns:Log" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RadniDan" nillable="true" type="tns:RadniDan" />
  <xs:complexType name="Log">
    <xs:sequence>
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element minOccurs="0" name="TimeStamp" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Log" nillable="true" type="tns:Log" />
</xs:schema>