WCF/Jun2020Control/Connected Services/SR/Loto2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4091/Loto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Jun2020" />
  <xs:element name="NovaKombinacija">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nadimak" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Jun2020" minOccurs="0" name="k" nillable="true" type="q1:Kombinacija" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NovaKombinacijaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NovaKombinacijaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UkloniKombinaciju">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nadimak" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UkloniKombinacijuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UkloniKombinacijuResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IzvuciBroj">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adminPass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="broj" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NoviBroj">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="broj" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Kraj">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="petice" type="xs:int" />
        <xs:element minOccurs="0" name="sestice" type="xs:int" />
        <xs:element minOccurs="0" name="sedmince" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cestitka">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="print" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>