WCF/Jun2020Control/Connected Services/SR/Loto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Jun2020" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Jun2020" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4091/Loto.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Kombinacija">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Brojevi" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Kombinacija" nillable="true" type="tns:Kombinacija" />
</xs:schema>