WCF/Jun2021ClientForm/Connected Services/SRJun2021/NLJSC.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54476/NLJSC.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Jun2021" />
  <xs:element name="ZapocniIgru">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nadimak" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BaciKocku">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nadimak" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PomeriSe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" type="xs:int" />
        <xs:element minOccurs="0" name="y" type="xs:int" />
        <xs:element minOccurs="0" name="nadimak" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Message">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Refresh">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pojeden" type="xs:short" />
        <xs:element minOccurs="0" name="pojeo" type="xs:short" />
        <xs:element minOccurs="0" name="kocka" type="xs:short" />
        <xs:element minOccurs="0" name="x" type="xs:short" />
        <xs:element minOccurs="0" name="y" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Statistics">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Jun2021" minOccurs="0" name="igra" nillable="true" type="q1:Igra" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>